:root {
  --padding: 70px;
  --base-color: #000;
  --bg-color: #fff;
  --theme-color: #2d6a37;
  --theme-color1: #d10000;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

#scrollUpBtn {
  display: block;
  position: fixed;
  opacity: 0;
  bottom: 10px;
  right: 15px;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 #fff;
  background-color: rgba(50,50,50,.7);
  color: white;
  cursor: pointer;
  padding: 2px 15px;
  border-radius: 10px;
  transition: opacity .3s linear;
  z-index: 9999;
}
#calendarHomepage p {
  width: 100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* BODY */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  background: var(--bg-color);
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-attachment: fixed;
}
/* HEADER */
header {
  position: sticky;
  display: flex;
  top: 0;
  height: var(--padding);
  width: 100%;
  transition: background .5s;
  z-index: 999;

  top: 0;
  box-shadow: 0 0 0 0 #888888;
  background-color: rgba(0,0,0,1);
}
nav {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: var(--padding);
  margin: 0 auto;
  background-color: rgba(0,0,0,1);
}
nav button {
  position: relative;
  padding: 10px 15px;
  color: #fff;
  top: -10px;
  width: 200px;
}
.sticky {
  background-color: rgba(0, 0, 0, 0.75);
}
nav>a>img {
  position: absolute;
  top: -10px;
  padding: 0 10px;

}
nav>div>ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
div ul li {
  list-style: none;
  text-align: center;
  font-weight: 900;
  position: relative;
}
div ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 10px;
  text-align: left;
  cursor: pointer;
}
div ul li a:not(.abtn) {
  padding: 5px 10px 0 10px;
}
.icon {
  font-size:30px;
  display: none;
}
.responsivemb {
  top: 70px !important;
}
#mobile {
  display: block;
  position: absolute;
  top: -200px;
  left: 0;
  padding: 20px 0;
  background: black;
  width: 100%;
  transition: all .3s ease-in-out;
  z-index: -99;
}
#mobile div {
  width: 93%;
  margin: 0 auto;
}
#mobile li {
  display: block;
  width: 100%;
  list-style: none;
}
#mobile li a {
  display: block;
  color: white;
}
.dropdown-content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #666;
}
.dropdown-content {
	display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #666;
	bottom: -3px;
  border-radius: 10px;
  width: 150px;
  transition: .2s;
  transform: translateY(100%);
}
.dropdown-content a {
  padding: 10px 10px !important;
}
.dropdown-content a:hover {
  color: var(--theme-color1);
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
li.dropdownmb input[type="checkbox"] {
  display: none;
}
li.dropdownmb label {
  display: block;
  color: white;
}
input[id^=drop]:checked + .dropdown-contentmb {
  display: block;
  visibility: visible;
  opacity: 1;
}
.dropdown-contentmb {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: relative;
  top: 0;
  width: 150px;
  transition: .2s;
}
.dropdown-contentmb a {
  padding: 10px 10px !important;
}
.dropdownmb:hover .dropdown-contentmb {
  visibility: visible;
  opacity: 1;
}
/* FOOTER */
.wrapper {
  margin: 0;
  padding-bottom: var(--padding);
}
footer {
  position: absolute;
  bottom: 0;
  height: var(--padding);
  width: 100%;
  background-color: var(--base-color);
  text-align: center;
}
footer>p {
  color: white;
  font-size: 14px;
}
footer>a{
  color:#11a341;
	margin: 5px;
}

/* SCREEN/TITLE */
#heleKalender {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
#screen {
  position: relative;
  overflow: hidden;
  transform: translateY(calc(var(--padding) * -1));
	box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
}
.screen {
  position: relative;
  height: 100%;
}
#fallback_image {
  display: block;
  height: auto;
  min-width: 100%;
}
#title {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% - var(--padding)*-0.25)) skew(0deg, -3deg);
  text-align: center;
  padding: 5%;
  border-radius: 100px 0 100px 0;
  background-color: rgba(255,255,255,0.6);
}
#title > h1 {
  font-size: 6rem;
  transition: font-size .5s;
  transform: skew(0deg, 3deg)
}
#title > button {
  border: 2px solid black;
  margin-top: 20px;
  transition: padding .5s, color .3s;
  transform: skew(0deg, 3deg)
}
#title>button:hover, #title>button:active {
  transform: skew(0deg, 3deg) translateY(3px);
  box-shadow: 0 2px #0d4a17;
}
/* BUTTON */
button {
  position: relative;
  box-shadow: 0 5px #0d4a17;
  background-color: var(--theme-color);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  line-height: 1.3em;
  text-align: center;
  font-size: 13px;
  padding: 10px 50px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
nav button:hover, nav button:active {
  transform: translateY(3px);
  box-shadow: 0 2px #0d4a17;
}
/* TEXT */
/* ARTICLES */
.pageTitle {
	text-align: center;
	font-size: 50px;
	text-align: center;
	margin-bottom: 25px;
	border-bottom: 1.5px solid black;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.skew {
  background-color: white;
  transform: skew(0deg, -2deg);
  padding: 2% 0;
  margin: 5% 0;
}
.column {
  float: left;
  width: 44%;
  height: 100%;
  min-height: 300px;
  margin: 1%;
}
i {
  font-style: normal;
  font-family: arial;
}

article h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 25px;
  border-bottom: 1.5px solid black;
}

article{
  background-color: rgba(255,255,255,0.9);
  position: relative;
  width: 100%;
  margin: 50px auto;
  padding: 4%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.bigarticle{
  width: 80%;
}
.smallarticle{
  width: 60%;
}
article li {
  margin: 10px 0 10px 20px;
}
p {
  color: black;
  font-size: 16px;
  line-height: 1.5;
}
/* NAV HOVER */
li>a:hover {
  color: white;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
li>a:not(.abtn)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--theme-color1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
div ul li a:not(.abtn):hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Gallery */
.gallery {
  display: block;
  margin: 20px auto 10px auto;
  width: 90%;
}
.gallery>div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 5px;
  justify-items: center;
}
.gallery img {
  width: 150px;
  height: 150px;
  /* margin: 5px; */
}
.gallery img:hover {
  cursor: pointer;
  filter: blur(1px);
}
/* LIGHTBOX */
#lightbox {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.95);
	opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  z-index: 9999;
  display: flex;
  justify-content: center;
}
#imageZoom {
	position: absolute;
  top: 50%;
	left: 50%;
  transform: translate(-50%,-50%);
}
#kryss {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 4rem;
  z-index: 999;
  cursor: pointer;
  transition: color .5s;
}
#kryss:hover {
  color: var(--theme-color1);
}
@keyframes zoom {
  from {
		transform: scale(0);
	}
  to {
		transform: scale(1);
	}
}

/* EVENT */

#event h2{
  border-bottom: 2px black solid;
}
.date, .type{
  font-weight: lighter;
  text-align: right;
  padding: 0;
  padding: 10px 10px 5px 10px;
}
#event article{
  height: 20%;
  width: 90%;
}
#event_nav{
  display: flex;
  width: 92%;
  margin: 0 auto;
}
#event_nav > button{
  flex-basis: 25px;
  flex-grow: 1;
  padding: 9px;
  color: #fbfafb;
  background-color: #4c8738;
  border: none;
  margin: 0;
  text-align: center;
  border-radius: 0;
  transition: background 1s;
}
.mainText{
  font-weight: normal;
  text-align: left;
}
#event_nav>button:hover{
  background-color: #2d6a37;
}
#event_nav button div {
  transition: all 1s;
}
.event_nav_drop {
  display: block;
  position: absolute;
  background-color: #2d6a37;
  width: 100%;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}
.event_nav_drop ul li{
  padding: 6px 0 10px 0;
}
.event_nav_drop ul li>a:not(.abtn)::before {
	background-color: white;
}
#event_nav button:hover .event_nav_drop{
  color: #f1f1f1;
  visibility: visible;
  opacity: 1;
}
#event_nav .event_nav_drop ul li a:hover{
  color: #f1f1f1;
}
#liste li{
  margin-left: 10px;
  margin-right: 10px;
  /*li arva margin fra atricle li selectoren lenger opp så d bi skeivt*/
}
/* ASD */
#cal{
  width:60%;
  padding:4%;
}
.calendar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
	position: relative;
	box-sizing: border-box;
}

.calendarDate {
	width: 20%;
	margin: 10px;
	margin-right: 30px;
	border-right: solid gray 1px;
	text-align: center;
	position: relative;
}

.calendarDate >	p {
	font-size: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.calendar ul {
	width: 80%;
}

.calendar ul li {
	display: flex;
	justify-content: space-between;
	list-style: disc;
  text-align: left;
  font-weight: 100;
	padding: 10px;
	margin: 10px 0 10px 0;
}

.week {
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	margin: 20px;
	border-top: solid gray 1px;
	border-bottom: solid gray 1px;
	padding: 10px;
}

.event {
	background-color: #c0c0ff;
}
.practice {
	display: none;
	background-color: #b0ddb0;
}

.timeAndLocation {
	background-color: rgba(255,255,255,0.8);
	padding: 0 10px 0 10px;
	min-width: 100px;
	margin: 10px;
	height: 100%;
}

#filter {
	padding: 10px;
  display: flex;
  flex-direction: row;
}

#filter-wrap {
	margin: 10px 0 30px 10px;
}

.inputflex{
  margin-right: 50px;
}
#input {
	min-width: 150px;
	margin: 5px;
  display:flex;
  justify-content: row;
}

#filter label {
	margin: 0 0 0 5px;
}

#filter-wrap {
	margin: 10px 0 30px 10px;
}

.input {
	min-width: 130px;
}

#filter input {
	margin: 0 0 0 20px;
}


/* ADDED BY SYNNE */
/* NYHETER: INNHOLD */
.nyheter_innhold{
  position: relative;
  left:20%;
  margin-top: 10px;
  margin-left: 2%;
  width: 80%;
}
.nyhetsartikkel{
  display: flex;
  flex-direction: column;
}
/* NYHETSOVERSKRIFTENE */
.nyhet_heading{
  color: #2d6a37;
}
.span_date{
  color: black;
  font-size: 0.7em;

}
/* SIDENAV */
.sidenav__inner{
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 47.5%;
  width: 15%;
  margin-top: 10px;
  margin-left: 0.7%;
  color: #2d6a37;
  background-color: rgba(246,246,246,0.8);
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
#hr_overskrift{
  border: 0.7px solid #2d6a37;
}
.sidenav__inner a{
  margin: 10px;
  color: #2d6a37;
  line-height: 1;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}
.sidenav__inner p{
  color: #2d6a37;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.sidenav__inner a:hover{
  color: lightgrey;
}
/* ADDED BY SYNNE */
/* PÅMELDINGSSKJEMA */
.skjema{
  position: relative;
  padding: 20px 12px 10px 20px;
  margin: 10px auto;
}
.skjema label{
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.inputs{
  position: relative;
  margin-top: 7px;
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
}
textarea{
  font-family: inherit;
  width: 90%;
}
#range_out{
  margin-left: 10px;
  width: 47px;
  text-align: center;
}
.submit_btn{
  background: #2d6a37;
  margin-top: 20px;
	padding: 10px;
	border: none;
  border-radius: 8px;
	color: #fff;

  line-height: 1.1em;
  text-align: center;
  font-size: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.submit_btn:hover{
  background: #0d4a17;
}
#registrering_mottatt{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;

  background-color: rgba(255,255,255,0.8);
  width: 42%;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/*CONTACT*/
#contact {
	text-align: center;
	display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact article {
	margin: 15px;
	padding: 15px;
  min-width: 168.71px;
}

.contacticon{
  font-size: 50px;
  margin-bottom: 20px;
}

.contactlabel{
  font-size: 30px;
  margin:0;
}

.separator {
	margin: 15px 0 15px 0;
	border-top: solid gray 1px;
}
#contarcticle{
  /*fordi e får ikke til å skaler bakgrunnen med flex tingan så dem kjem utafor*/
  width:75%;
}
/*OLGA SIN ABOUT*/
#aboutarticles h2{
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

#abourtarticles p{
  margin-bottom: 25px;
}
#aboutarticles{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin:auto;
}
#images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 80%;
  margin:auto;
}
#images img{
  margin-top: 50px;
  max-width: 45%;
  max-height: 45%;
  border-radius: 50%;
}
#about article{
  width:60%;
  padding:4%;
  background-color: rgba(255, 255, 255, 0.90);
}
/* QUERY la vær nederst*/
@media (max-width: 850px) {
  .dropdown-content {
    display: none;
  }
  video {
    display: none;
  }
  #fallback_image {
    display: block;
  }
  .nav_list {
    display: none;
  }
  .icon {
    display: block;
  }
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column {
    width: 93%;
    margin: 5% auto;
  }
	#contact {
		flex-direction: column;
    align-items: center;
	}

  #contact article{
    width: 80%;
  }

  #images {
    flex-direction:column;
    max-width: 100%;
    align-items: center;

  }
  #images img{
    margin-top: 20px;
    max-width: 50%;
    max-height: 50%;
  }
  #about article{
    width:80%;
  }

  .smallarticle{
    width:80%;
  }

	.calendar ul li {
		flex-direction: column;
	}

	.calendar {
		flex-direction: column;
	}
	.calendarDate > p {
		position: static;
		transform: none;
	}
	.calendarDate {
		width: 100%;
		border-right: none;
		border-bottom: solid gray 1px;
	}
	.calendar ul {
		width: 100%;
	}

}
/*Phones?*/
@media (max-width: 660px) {
  #title>h1 {
    font-size: 2.5rem;
  }
  #title>button {
    padding: 10px 20px;
  }
  #title {
    padding: 10% 20%;
  }
  #about p{
    font-size: 0.9em;
  }
  #filter{
    flex-direction: column;
  }

  .inputflex{
    margin-bottom: 25px;
  }

}
  /* Bigger than Phones(tablet) */
  @media only screen and (min-width: 750px) {
    .img-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  /* Bigger than Phones(laptop / desktop) */
  @media only screen and (min-width: 970px) {
    .img-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }
