:root {
  --padding: 70px;
  --base-color: #000;
  --bg-color: #fff;
  --theme-color: #2d6a37;
  --theme-color1: #d10000;
}
* {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
#scrollUpBtn {
  display: block;
  position: fixed;
  opacity: 0;
  bottom: 10px;
  right: 15px;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 #fff;
  background-color: rgba(50,50,50,.7);
  color: white;
  cursor: pointer;
  padding: 2px 15px;
  border-radius: 10px;
  transition: opacity .3s linear;
  z-index: 9999;
}
/* BODY */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  background: var(--bg-color);
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}
/* HEADER */
header {
  position: sticky;
  display: flex;
  top: 0;
  height: var(--padding);
  width: 100%;
  transition: background .5s;
  z-index: 999;

  top: 0;
  box-shadow: 0 0 0 0 #888888;
  background-color: rgba(0,0,0,1);
}
nav {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: var(--padding);
  margin: 0 auto;
}
nav button {
  position: relative;
  padding: 10px 15px;
  color: #fff;
  top: -10px;
  width: 200px;
}
.sticky {
  /* position: fixed; */
  /* top: 0; */
  background-color: rgba(0, 0, 0, 0.75);
}
nav>a>img {
  position: absolute;
  top: -10px;
  padding: 0 10px;
  /* border-radius: 10px; */
}
nav>div>ul {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
div ul li {
  list-style: none;
  text-align: center;
  font-weight: 900;
  position: relative;
}
div ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 10px;
  text-align: left;
  cursor: pointer;
}
div ul li a:not(.abtn) {
  padding: 5px 10px 0 10px;
}
.icon {
  font-size:30px;
  display: none;
}
/* FOOTER */
.wrapper {
  margin: 0;
  padding-bottom: var(--padding);
}
footer {
  position: absolute;
  bottom: 0;
  height: var(--padding);
  width: 100%;
  background-color: var(--base-color);
  text-align: center;
}
footer>p {
  color: white;
  font-size: 14px;
}
footer>a{
  color:#11a341;
}
#heleKalender {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* SCREEN/TITLE */
#screen {
  position: relative;
  /* padding-top: var(--padding); */
  overflow: hidden;
  transform: translateY(calc(var(--padding) * -1));
}
.screen {
  position: relative;
  /* background: white; */
  height: 100%;
  /* width: 100%; */
}
#fallback_image {
  display: block;
  height: auto;
  min-width: 100%;
  opacity: 0.85;
}
#title {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,calc(-50% - var(--padding)*-0.25)) skew(0deg, -3deg);
  text-align: center;
  padding: 5%;
  border-radius: 100px 0 100px 0;
  background-color: rgba(255,255,255,0.6);
}
#title > h1 {
  font-size: 6rem;
  transition: font-size .5s;
  transform: skew(0deg, 3deg)
}
#title > button {
  border: 2px solid black;
  margin-top: 20px;
  transition: padding .5s, color .3s;
  transform: skew(0deg, 3deg)
}
#title>button:hover, #title>button:active {
  transform: skew(0deg, 3deg) translateY(3px);
  box-shadow: 0 2px #0d4a17;
}
/* BUTTON */
button {
  position: relative;
  /* background-color: white; */
  box-shadow: 0 5px #0d4a17;
  background-color: var(--theme-color);
  border: none;
  /* color: var(--theme-color1); */
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  line-height: 1.3em;
  text-align: center;
  font-size: 13px;
  padding: 10px 50px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
nav button:hover, nav button:active {
  transform: translateY(3px);
  box-shadow: 0 2px #0d4a17;
}
/* TEXT */
/* ARTICLES */
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.skew {
  background-color: white;
  transform: skew(0deg, -2deg);
  padding: 2% 0;
  margin: 5% 0;
}
.column {
  float: left;
  width: 44%;
  height: 100%;
  min-height: 300px;
  margin: 1%;
}
i {
  font-style: normal;
  font-family: arial;
}
article {
  /* position: relative;
  width: 92%;
  margin: 50px auto;
  padding: 1%;
  box-shadow: 0 0 2px 2px black; */

  position: relative;
  width: 92%;
  margin: 50px auto;
  padding: 1%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
article li {
  margin: 10px 0 10px 20px;
}
p {
  color: black;
  font-size: 16px;
  line-height: 1.5;
}
/* NAV HOVER */
li>a:hover {
  color: var(--theme-color1);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
li>a:not(.abtn)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--theme-color1);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
div ul li a:not(.abtn):hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.dropdown a {
  /* bottom: 3px; */
}
/* Gallery */
.gallery {
  display: block;
  margin: 10px auto 0 auto;
  width: 80%;
}
.gallery>div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery img {
  width: 150px;
  height: 150px;
  margin: 5px;
}
/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .img-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* QUERY */
@media (max-width: 850px) {
  video {
    display: none;
  }
  #fallback_image {
    display: block;
  }
  .nav_list {
    display: none;
  }
  .icon {
    display: block;
  }
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .column {
    width: 93%;
    margin: 5% auto;
  }
}
@media (max-width: 660px) {
  #title>h1 {
    font-size: 1.7rem;
  }
  #title>button {
    padding: 10px 20px;
  }
  #title {
    padding: 10% 20%;
  }
}
.dropdown-content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 13px solid #666;
}
.dropdown-content {
	display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #666;
	bottom: -3px;
  border-radius: 10px;
  width: 150px;
  transition: .2s;
  transform: translateY(100%);
}
.dropdown-content a {
  padding: 10px 10px !important;
  /* border-bottom: 2px solid black; */
}
.dropdown-content a:hover {
  color: var(--theme-color1);
  /* background-color: #999; */
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 850px) {
  .dropdown-content {
    display: none;
  }
}
/* ASD */
.calendar {
	margin: 20px;
	padding: 10px;
	position: relative;
	border-top: solid #ddd 1px;
	border-bottom: solid #ddd 1px;
}
.calendar p {
	font-size: 30px;
	position: absolute;
	min-width: 20%;
	top: 50%;
	transform: translateY(-50%);
	border-right: solid gray 1px;
}
.calendar ul li {
	list-style: disc;
  text-align: left;
  font-weight: 100;
  position: relative;
	left: 30%;
}
.filter {
	margin: 20px;
	padding: 10px;
}
.filter input {
	margin: 0 0 0 20px;
}
.separator {
	margin: 10px 0 10px 0;
	border-top: solid gray 1px;
}
/* ADDED BY SYNNE */
/* NYHETER, INNHOLD */
.nyhet{
  display: flex;
  flex-direction: column;
}
.nyhet_heading{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nyhet_heading h3{
  color: #006400;
}
.span_date{
  color: #97d797;
  text-shadow: 0.5px 0.5px #B9B367;
}
/* ADDED BY SYNNE */
/* PÅMELDINGSSKJEMA */
.skjema{
  position: relative;
  padding: 20px 12px 10px 20px;
  margin: 10px auto;
}
.skjema label{
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.inputs{
  position: relative;
  margin-top: 7px;
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
}
textarea{
  font-family: inherit;
}
#range_out{
  margin-left: 10px;
  width: 47px;
  text-align: center;
}
.registrer_btn{
  background: #51a200;
  margin-top: 20px;
	padding: 10px;
	border: none;
	color: #fff;

  line-height: 1.1em;
  text-align: center;
  font-size: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.registrer_btn:hover{
  background: #428400;
}
#registrering_mottatt{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  width: 42%;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
